In [55]:
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime

html_data = None

html_path = "VETA5_98-CC-E4-00-2D-E8_2023-10-30_14-19-29_Service/VETA5_98-CC-E4-00-2D-E8_2023-10-30_14-19-29_Service.html"

with open(html_path,"r") as html_source:
    html_data = html_source.readlines()

soup = BeautifulSoup("\n".join(html_data),"html.parser")

In [12]:
#print(soup.prettify())

In [51]:
rawJ = soup.find_all("script")
#for i in range(len(rawJ)):
#    print(i)
#    print(rawJ[i])

J = str(rawJ[0])
J1 = J.split('var T_Data3 = ["')

In [52]:
raw_df = J1[1].split(",];")[0].replace("<br>"," ")
cells = raw_df.split('","')
N = len(cells)
n_col = 7
n_row = N // n_col

(n_row,n_col)

_data = {}

for i in range(n_col):
    idx = i*n_row
    _data[cells[idx]] = []
    for j in range(1,n_row):
        _data[cells[idx]].append(cells[idx+j])

In [83]:
df = pd.DataFrame(_data)
df["End Case"] = df["Date Time Event"].apply(lambda x: "End Case" in str(x))
df["Date Time Event"] = df["Date Time Event"].apply(lambda x: datetime.strptime(str(x).replace("End Case",""),"%Y-%m-%d %H:%M "))

In [65]:
df.head()

,Date Time Event,Fi/Et CO2(Hgmm),PEAK(cmH2O),PEEP(cmH2O),Vt(ml),MV(l/min),RR(bpm),End Case
0,2023-10-27 18:32:00,,,,,,,True
1,2023-10-27 18:32:00,0/38,16,3,350,4.4,12,False
2,2023-10-27 18:31:00,0/41,16,3,379,4.5,12,False
3,2023-10-27 18:30:00,0/42,16,3,381,4.6,12,False
4,2023-10-27 18:29:00,0/40,---,---,---,---,7,False

In [84]:
case_end_rows = df[df["End Case"]== True]
case_ends = case_end_rows.sort_values(by="Date Time Event")["Date Time Event"].tolist()
case_ends

[Timestamp('2023-10-25 12:17:00'),
 Timestamp('2023-10-25 16:25:00'),
 Timestamp('2023-10-25 20:20:00'),
 Timestamp('2023-10-26 10:27:00'),
 Timestamp('2023-10-26 14:35:00'),
 Timestamp('2023-10-26 21:12:00'),
 Timestamp('2023-10-27 10:42:00'),
 Timestamp('2023-10-27 14:36:00'),
 Timestamp('2023-10-27 18:32:00')]

In [85]:
case_dict = {}
for ce in case_ends:
    case_dict[ce] = df[df["Date Time Event"]<=ce]
    df = df.drop(case_dict[ce].index)
    case_dict[ce] = case_dict[ce].reset_index(drop=True)[1:].sort_values(by="Date Time Event").reset_index(drop=True)

In [86]:
case_dict

{Timestamp('2023-10-25 12:17:00'):         Date Time Event Fi/Et CO2(Hgmm) PEAK(cmH2O) PEEP(cmH2O) Vt(ml)  \
 0   2023-10-25 07:10:00             0/0           1           1    245
 1   2023-10-25 07:11:00            0/39          14           2    322
 2   2023-10-25 07:12:00            0/43          16           3    320
 3   2023-10-25 07:13:00            0/41          16           4    329
 4   2023-10-25 07:14:00            0/40          16           3    323
 ..                  ...             ...         ...         ...    ...
 303 2023-10-25 12:13:00            0/41          15           4    316
 304 2023-10-25 12:14:00            0/41          15           4    322
 305 2023-10-25 12:15:00            0/40          15           4    319
 306 2023-10-25 12:16:00            0/41          15           3    317
 307 2023-10-25 12:17:00            0/42          15           3    319

     MV(l/min) RR(bpm)  End Case
 0         2.4     20"     False
 1         6.1      18     False
 2         5.8      18     False
 3         5.9      18     False
 4         5.8      18     False
 ..        ...     ...       ...
 303       4.8      15     False
 304       4.7      14     False
 305       4.6      14     False
 306       4.2      13     False
 307       4.3      13     False

 [308 rows x 8 columns],
 Timestamp('2023-10-25 16:25:00'):         Date Time Event Fi/Et CO2(Hgmm) PEAK(cmH2O) PEEP(cmH2O) Vt(ml)  \
 0   2023-10-25 12:24:00             4/4          15           1      0
 1   2023-10-25 12:25:00            0/38          17           4    384
 2   2023-10-25 12:26:00            0/39          15           4    314
 3   2023-10-25 12:27:00            0/37          20           4    102
 4   2023-10-25 12:28:00            0/29          21           4     63
 ..                  ...             ...         ...         ...    ...
 237 2023-10-25 16:21:00            0/47          15           2    424
 238 2023-10-25 16:22:00            0/45          15           1    403
 239 2023-10-25 16:23:00            0/45           6         ---    ---
 240 2023-10-25 16:24:00            0/45          15           4    362
 241 2023-10-25 16:25:00            0/44          15           4    363

     MV(l/min) RR(bpm)  End Case
 0         0.0       0     False
 1        10.1      18     False
 2         5.8      18     False
 3         2.3      18     False
 4         1.3      18     False
 ..        ...     ...       ...
 237       5.0      12     False
 238       4.8      12     False
 239       ---       7     False
 240       4.6      12     False
 241       4.3      12     False

 [242 rows x 8 columns],
 Timestamp('2023-10-25 20:20:00'):         Date Time Event Fi/Et CO2(Hgmm) PEAK(cmH2O) PEEP(cmH2O) Vt(ml)  \
 0   2023-10-25 16:30:00             5/5          11           1      0
 1   2023-10-25 16:31:00            0/42          16           4    655
 2   2023-10-25 16:32:00            0/34          16           4    332
 3   2023-10-25 16:33:00            0/33          16           4    326
 4   2023-10-25 16:34:00            0/32          16           4    326
 ..                  ...             ...         ...         ...    ...
 226 2023-10-25 20:16:00            0/44         ---         ---    ---
 227 2023-10-25 20:17:00            0/48          15           2    321
 228 2023-10-25 20:18:00            0/45          15           3    290
 229 2023-10-25 20:19:00            0/45          15           2    258
 230 2023-10-25 20:20:00            0/44          15           4    308

     MV(l/min) RR(bpm)  End Case
 0         0.0       0     False
 1         8.0      20     False
 2         5.9      18     False
 3         5.9      18     False
 4         5.9      18     False
 ..        ...     ...       ...
 226       ---      14     False
 227       4.5      14     False
 228       4.1      14     False
 229       3.8      14     False
 230       3.4      14     False

 [231 rows x 8 columns],
 Timestamp('2023-10-26 10:27:00'):         Date Time Event Fi/Et CO2(Hgmm) PEAK(cmH2O) PEEP(cmH2O) Vt(ml)  \
 0   2023-10-26 06:48:00           36/36           9           3    263
 1   2023-10-26 06:49:00            0/34          13           4    300
 2   2023-10-26 06:50:00            0/33          13           3    300
 3   2023-10-26 06:51:00            0/31          13           3    295
 4   2023-10-26 06:52:00            0/31          13           4    304
 ..                  ...             ...         ...         ...    ...
 215 2023-10-26 10:23:00            0/53           2         ---    ---
 216 2023-10-26 10:24:00            0/42         ---         ---    ---
 217 2023-10-26 10:25:00            0/47          17           3    375
 218 2023-10-26 10:26:00            0/50          17           3    377
 219 2023-10-26 10:27:00            0/44          17           3    373

     MV(l/min) RR(bpm)  End Case
 0         8.8      25     False
 1         5.4      18     False
 2         5.4      18     False
 3         5.4      18     False
 4         5.5      18     False
 ..        ...     ...       ...
 215       ---      11     False
 216       ---      13     False
 217       5.2      13     False
 218       5.0      13     False
 219       4.8      13     False

 [220 rows x 8 columns],
 Timestamp('2023-10-26 14:35:00'):         Date Time Event Fi/Et CO2(Hgmm) PEAK(cmH2O) PEEP(cmH2O) Vt(ml)  \
 0   2023-10-26 10:38:00            0/41          13           4    301
 1   2023-10-26 10:39:00            0/36          13           4    297
 2   2023-10-26 10:40:00            0/36          13           4    299
 3   2023-10-26 10:41:00            0/35          13           4    304
 4   2023-10-26 10:42:00            0/37          17           4    428
 ..                  ...             ...         ...         ...    ...
 233 2023-10-26 14:31:00            0/64          10           2     36
 234 2023-10-26 14:32:00            4/50          11         ---    ---
 235 2023-10-26 14:33:00            0/33           9         ---    ---
 236 2023-10-26 14:34:00             3/3           8         ---    ---
 237 2023-10-26 14:35:00             0/0           1         ---    ---

     MV(l/min) RR(bpm)  End Case
 0         5.2      19     False
 1         5.7      19     False
 2         5.7      19     False
 3         5.7      19     False
 4         5.1      12     False
 ..        ...     ...       ...
 233       9.8      16     False
 234       ---      19     False
 235       ---      10     False
 236       ---     ---     False
 237       ---     ---     False

 [238 rows x 8 columns],
 Timestamp('2023-10-26 21:12:00'):       Date Time Event Fi/Et CO2(Hgmm) PEAK(cmH2O) PEEP(cmH2O) Vt(ml)  \
 0 2023-10-26 21:08:00             0/0           0           0    183
 1 2023-10-26 21:09:00             0/0          13           3    403
 2 2023-10-26 21:10:00             0/0          11           3    319
 3 2023-10-26 21:11:00             0/0          11           3    326
 4 2023-10-26 21:12:00             0/0          11           3    326

   MV(l/min) RR(bpm)  End Case
 0       6.5      31     False
 1      11.7      20     False
 2       6.5      20     False
 3       6.4      20     False
 4       6.4      20     False  ,
 Timestamp('2023-10-27 10:42:00'):         Date Time Event Fi/Et CO2(Hgmm) PEAK(cmH2O) PEEP(cmH2O) Vt(ml)  \
 0   2023-10-27 06:51:00             0/0           5           1    321
 1   2023-10-27 06:52:00            0/39          11           3    243
 2   2023-10-27 06:53:00            0/49          10           3    514
 3   2023-10-27 06:54:00            0/42          13           4    301
 4   2023-10-27 06:55:00            2/41          13           4    302
 ..                  ...             ...         ...         ...    ...
 227 2023-10-27 10:38:00            0/46         ---         ---    ---
 228 2023-10-27 10:39:00            0/44          17           3    422
 229 2023-10-27 10:40:00            0/42          17           3    419
 230 2023-10-27 10:41:00            0/41          17           3    415
 231 2023-10-27 10:42:00            0/39          17           2    401

     MV(l/min) RR(bpm)  End Case
 0         2.5      14     False
 1         5.2      18     False
 2        11.3      18     False
 3         5.6      18     False
 4         5.4      18     False
 ..        ...     ...       ...
 227       ---     ---     False
 228       5.9      14     False
 229       5.9      14     False
 230       5.8      14     False
 231       5.7      14     False

 [232 rows x 8 columns],
 Timestamp('2023-10-27 14:36:00'):         Date Time Event Fi/Et CO2(Hgmm) PEAK(cmH2O) PEEP(cmH2O) Vt(ml)  \
 0   2023-10-27 10:46:00             0/0          11           4    885
 1   2023-10-27 10:47:00            0/41          16           4    322
 2   2023-10-27 10:48:00            0/39          15           4    319
 3   2023-10-27 10:49:00            0/38          15           4    323
 4   2023-10-27 10:50:00            0/38          15           4    319
 ..                  ...             ...         ...         ...    ...
 226 2023-10-27 14:32:00            0/46         ---         ---    ---
 227 2023-10-27 14:33:00            0/44         ---         ---    ---
 228 2023-10-27 14:34:00            0/45          15           3    346
 229 2023-10-27 14:35:00            0/50          15           2    398
 230 2023-10-27 14:36:00            0/42          15           2    399

     MV(l/min) RR(bpm)  End Case
 0         5.2      14     False
 1         5.9      18     False
 2         6.2      18     False
 3         5.9      18     False
 4         5.8      18     False
 ..        ...     ...       ...
 226       ---     ---     False
 227       ---      13     False
 228       4.8      13     False
 229       5.0      13     False
 230       5.2      13     False

 [231 rows x 8 columns],
 Timestamp('2023-10-27 18:32:00'):         Date Time Event Fi/Et CO2(Hgmm) PEAK(cmH2O) PEEP(cmH2O) Vt(ml)  \
 0   2023-10-27 14:41:00            0/39          12           2    303
 1   2023-10-27 14:42:00            0/35          14           4    302
 2   2023-10-27 14:43:00            0/35          13           4    298
 3   2023-10-27 14:44:00            0/36          13           3    295
 4   2023-10-27 14:45:00            0/35          13           4    310
 ..                  ...             ...         ...         ...    ...
 227 2023-10-27 18:28:00            0/49          16           1    426
 228 2023-10-27 18:29:00            0/40         ---         ---    ---
 229 2023-10-27 18:30:00            0/42          16           3    381
 230 2023-10-27 18:31:00            0/41          16           3    379
 231 2023-10-27 18:32:00            0/38          16           3    350

     MV(l/min) RR(bpm)  End Case
 0         5.5      19     False
 1         5.8      19     False
 2         5.8      19     False
 3         5.7      19     False
 4         5.7      19     False
 ..        ...     ...       ...
 227       5.1      12     False
 228       ---       7     False
 229       4.6      12     False
 230       4.5      12     False
 231       4.4      12     False

 [232 rows x 8 columns]}

In [90]:
for ce, c in case_dict.items():
    start = c["Date Time Event"].min()
    end = ce
    cols = c.columns[:-1]
    out_path = f"{start.strftime('%Y-%m-%d_%H-%M')}--to--{end.strftime('%Y-%m-%d_%H-%M')}.csv"
    c[cols].to_csv(out_path,index=False)